body {
  font-family: times, serif;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0;
}

tbody {
  font-family: times, serif;
}

td  {
  font-family: times, serif;
  text-align: left;
}

td.center  {
  font-family: times, serif;
  text-align: center;
}


a:link {
  color: #003399;
  text-decoration: none;
}

a:visited {
  color: #003399;
  text-decoration: none;
}

a:hover {
  color: #003399;
  text-decoration: none;
  background-color: #e0e0e0;
}

a:active {
  color: #003399;
  text-decoration: none;
}

.wgs {
  color: #666666;
  font-size: 80%;
}

.figcaption {
  text-indent: 0;
  text-align: center;
  font-style: italic;
}

.figure {
  text-indent: 0;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.hidden, .hide {
  display: none;
}


.wide, .spaced {
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-indent: 0.8em;
  text-align: justify;
}

p.centerpic {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 5px;
}

p.center {
  text-indent: 0;
  text-align: center;
}

p.centerbig {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  text-indent: 0;
  text-align: center;
  font-size: 115%;
}

p.centersml {
  text-indent: 0;
  text-align: center;
  font-size: 90%;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

p.dblmarg {
  text-indent: 0;
  margin-left: 10%;
  margin-right: 10%;
}

p.left {
  text-indent: 0;
  text-align: justify;
}


p.leftjust {
  text-indent: 0;
}

p.leftmarg {
  text-indent: 0;
  text-align: left;
  margin-left: 2em;
}

p.right {
  text-indent: 0;
  text-align: right;
}


table.left {
  margin-left: 0;
  text-align: left;
}

table.right {
  margin-right: 0;
}

table.toc {
  margin-top: 0.3em;
}

hr.short {
  color: #666666;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 20%;
  height: 1px;
  margin-left: 40%
}

img.left {
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

img.right {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

img.deko {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #606060;
  text-align: center;
}

tt {
  font-family: Courier, monospace;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mainnav {
  font-family: times, serif;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px #cc6060 solid;
  border-bottom: 1px #cc6060 solid;
}

.autalpha {
  font-family: times, serif;
  text-align: center;
}

.trenner {
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.authorlist {
  text-align: left;
}
