/*	20030210	created (gh)
*/

/*@import url('capitals.css');*/


body {
    font-family: lucida, serif;
    font-size: 90%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0;
}

a:link {
    color: #003399;
    text-decoration: none;
}

a:visited {
    color: #003399;
    text-decoration: none;
}

a:hover {
    color: #003399;
    text-decoration: none;
    background-color: #e0e0e0;
}

a:active {
    color: #003399;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center
}

ul.roman {
    list-style: upper-roman outside
}

div.poem {
    margin-left: 20%;
    margin-right: 20%
}

div.vers {
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

div.vers p {
    margin-top: 0;
    margin-bottom: 0
}

div.box {
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    border: 1px solid white
}

div.box p {
    margin: 1em;
}

p.line1:first-letter {
    font-size: 150%
}

.indent {
    text-indent: 1em
}

.center {
    text-align: center
}

.justify {
    text-align: justify
}

span.firstletter {
    font-size: 150%
}

.mainnav {
    font-family: times, serif;
    background-color: #ffffff;
    font-size: 10pt;
    border-right: 1px #147CBB solid;
}

.autalpha {
    font-family: times, serif;
    border-top: 1px #F5F5F5 solid;
    border-bottom: 1px #F5F5F5 solid;
    border-left: 1px #015EA7 solid;
}

.trenner {
    font-size: 10pt;
    color: #FF9900;
}
