
/***************************************************************************************
* Rowohlt CSS für EPUB-Dateien nach ParsX 4: Genre-Variante Belletristik
****************************************************************************************
* @project		Rowohlt-EPUB-CSS ParsX 4
* @version		1.0
* @parx-version   4.1.9
* @date		   2020-10-01
* @author		 Fabian Kern (dpc)
* @lastEditor	 Fabian Kern (dpc)
* @copyright	  Rowohlt Verlag, digital publishing competence
*
*****************************************************************************************/
@font-face{font-family:"Rowohlt-Serif";font-style:normal;font-weight:normal;src:url(fonts/DroidSerif-Regular.otf)}
@font-face{font-family:"Rowohlt-Serif";font-style:italic;font-weight:normal;src:url(fonts/DroidSerif-Italic.otf)}
@font-face{font-family:"Rowohlt-Serif";font-style:normal;font-weight:bold;src:url(fonts/DroidSerif-Bold.otf)}
@font-face{font-family:"Rowohlt-Serif";font-style:italic;font-weight:bold;src:url(fonts/DroidSerif-BoldItalic.otf)}
@font-face{font-family:"Rowohlt-Sans";font-style:normal;font-weight:normal;src:url(fonts/OpenSans-Regular.otf)}
@font-face{font-family:"Rowohlt-Sans";font-style:italic;font-weight:normal;src:url(fonts/OpenSans-Italic.otf)}
@font-face{font-family:"Rowohlt-Sans";font-style:normal;font-weight:bold;src:url(fonts/OpenSans-Bold.otf)}
@font-face{font-family:"Rowohlt-Sans";font-style:italic;font-weight:bold;src:url(fonts/OpenSans-BoldItalic.otf)}
@font-face{font-family:"Rowohlt-Mono";font-style:normal;font-weight:normal;src:url(fonts/DejaVuSansMono.otf)}
@font-face{font-family:"Rowohlt-Mono";font-style:italic;font-weight:normal;src:url(fonts/DejaVuSansMono-Oblique.otf)}
@font-face{font-family:"Rowohlt-Mono";font-style:normal;font-weight:bold;src:url(fonts/DejaVuSansMono-Bold.otf)}
@font-face{font-family:"Rowohlt-Mono";font-style:italic;font-weight:bold;src:url(fonts/DejaVuSansMono-BoldOblique.otf)}
@font-face{font-family:"Rowohlt-Ini-1";font-style:normal;font-weight:normal;src:url(fonts/AllertaStencil-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-2";font-style:normal;font-weight:normal;src:url(fonts/BungeeInline-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-3";font-style:normal;font-weight:normal;src:url(fonts/EagleLake-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-4";font-style:normal;font-weight:normal;src:url(fonts/GreatVibes-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-5";font-style:normal;font-weight:normal;src:url(fonts/LoveYaLikeASister-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-6";font-style:normal;font-weight:normal;src:url(fonts/SpecialElite-Regular.otf)}
@font-face{font-family:"Rowohlt-Ini-7";font-style:normal;font-weight:normal;src:url(fonts/UnifrakturMaguntia-Book.otf)}
@font-face{font-family:"Rowohlt-Ini-8";font-style:normal;font-weight:normal;src:url(fonts/ZillaSlabHighlight-Regular.otf)}
article,section,header,figure,figcaption,nav,blockquote,aside{display:block}
body,div,p,h1,h2,h3,h4,h5,h6,p.u7,article,section,header,figure,figcaption,nav,blockquote,aside{margin:0;padding:0}
body{text-align:left;font-family:"Rowohlt-Serif","Palatino",serif;font-size:1em;line-height:1.6;widows:2;orphans:2}
p{text-indent:1.3em;margin-bottom:0}
header+p,div.zwischentitel+p,div.titel+p,p.with_initiale,p.with_spitzmarke,p.firstInContainer,div.einschub+p,div.infokasten+p,div.liste_geordnet+p,div.liste_ungeordnet+p,div.liste_manuell+p,div.liste_definition+p,div.gedicht+p,figure.bild+p,figure.tabelle+p,p.leerzeile+p,blockquote.zitat+p{text-indent:0}
p.indent{text-indent:1.3em !important}
p.no_indent{text-indent:0}
p.alignleft{text-align:left}
p.alignright{text-align:right;margin-left:3em}
p.aligncenter{text-align:center;text-indent:0;margin-left:3em;margin-right:3em}
p.alignblock{text-align:justify}
p.leerzeile{line-height:1}
figure{padding:0;page-break-inside:avoid}
figure.bild div.titel.firstInContainer,figure.bild img.firstInContainer,figure.tabelle div.titel.firstInContainer,figure.tabelle table.firstInContainer{margin-top:1em}
figure.bild img.lastInContainer,figure.bild div.legende.lastInContainer,figure.tabelle table.lastInContainer,figure.tabelle div.legende.lastInContainer{margin-bottom:1em}
figure.bild{width:100%;max-width:100%;page-break-inside:avoid}
figure.bild img.abbildung{width:100%;max-width:100%;max-height:100%;page-break-inside:avoid}
figure div.titel{page-break-after:avoid}
figure div.legende{page-break-before:avoid}
figure div.titel p,figure div.legende p{text-indent:0}
div.liste_geordnet,div.liste_ungeordnet,div.liste_manuell,div.liste_definition{margin-top:.5em;margin-bottom:.5em;margin-left:.8rem}
div.liste_manuell div.titel,div.liste_geordnet div.titel,div.liste_ungeordnet div.titel,div.liste_definition div.titel{font-weight:bold}
div.liste_ungeordnet ul,div.liste_geordnet ol{list-style-position:outside}
div.liste_geordnet div.liste_geordnet,div.liste_geordnet div.liste_ungeordnet,div.liste_ungeordnet div.liste_ungeordnet,div.liste_ungeordnet div.liste_geordnet{margin:0}
li p.firstInContainer{display:block;text-indent:0}
li p{display:block;text-indent:0 !important}
ol{list-style-type:decimal;margin-top:0;margin-bottom:0}
ol.listType_number{list-style-type:decimal}
ol.listType_lower-a{list-style-type:lower-alpha}
ol.listType_upper-A{list-style-type:upper-latin}
ol.listType_lower-i{list-style-type:lower-roman}
ol.listType_upper-I{list-style-type:upper-roman}
ol.listType_greek{list-style-type:lower-greek}
@media amzn-kf8{ol.listType_greek{list-style:lower-alpha}
}
ul{list-style-type:disc;margin-top:0;margin-bottom:0}
ul.listType_point,ul.listType_dash{list-style-type:disc}
ul.listType_triangle,ul.listType_star{list-style-type:square}
ul.listType_other{list-style-type:circle}
div.liste_manuell ul{list-style-type:none;padding-left:20px}
div.liste_manuell ul li{page-break-inside:avoid;clear:both}
div.liste_manuell ul li span.zaehler{display:block;margin:0;padding:0;text-align:left;width:2.4em;float:left}
div.liste_manuell ul li div.inhalt{display:block;margin:0;padding:0;margin-left:3em}
div.liste_manuell ul li div.inhalt p{text-indent:0}
@media amzn-kf8{div.liste_manuell ul li span.zaehler{margin-right:0;padding-right:0}
div.liste_manuell ul li div.inhalt{margin-left:0;border-left:1px solid white}
}
div.inhalt>div.liste_manuell{margin:0}
div.liste_manuell p{widows:1;orphans:1}
div.liste_definition dt{display:block;font-weight:bold}
div.liste_definition dd{display:block;margin-left:0;margin-bottom:.5em}
div.liste_definition dd>*{margin:0;padding:0;text-indent:0}
span.kapitaelchen{font-size:1em;letter-spacing:.1em;font-variant:small-caps}
q.zitat_inline{font-style:italic}
p.with_initiale{text-indent:0}
.initiale{font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ1{font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ2{display:block;float:left;font-size:1em;line-height:1em;margin-right:15px;margin-top:15px;margin-bottom:0;margin-left:0;padding:0;text-align:left;vertical-align:top}
@media amzn-kf8{span.initiale.typ2{display:block;float:left;font-size:1em;line-height:1em;margin-right:15px;margin-top:-0.3225em;margin-bottom:-0.3245em;margin-left:0;padding:0;text-align:left;vertical-align:top}
}
span.initiale.typ2 img.abb_inline{width:auto;height:auto;text-align:left;vertical-align:top}
span.initiale.typ3{font-family:"Rowohlt-Ini-1","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ4{font-family:"Rowohlt-Ini-2","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ5{font-family:"Rowohlt-Ini-3","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ6{font-family:"Rowohlt-Ini-4","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0;margin-right:.2em}
span.initiale.typ7{font-family:"Rowohlt-Ini-5","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ8{font-family:"Rowohlt-Ini-6","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ9{font-family:"Rowohlt-Ini-7","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
span.initiale.typ10{font-family:"Rowohlt-Ini-8","Palatino",serif;font-size:1.6em;line-height:1;text-transform:uppercase;color:#bd1d1b;font-weight:bold;display:inline;float:none;margin-right:.05em;margin-top:0}
sup,sub{font-size:.7em;line-height:1;position:relative}
sup{bottom:1ex}
sub{top:.5ex}
span.unterstr{text-decoration:underline}
span.durchgestr{text-decoration:line-through}
span.versal{text-transform:uppercase;letter-spacing:.1em}
span.sperrung{letter-spacing:.2em;font-weight:bold;color:#666}
div.einschub.typ30 span.sperrung,div.infokasten.typ10 span.sperrung,div.infokasten.typ11 span.sperrung,div.infokasten.typ20 span.sperrung,div.infokasten.typ21 span.sperrung,div.infokasten.typ30 span.sperrung,div.infokasten.typ31 span.sperrung,figure.tabelle.typ3 span.sperrung,figure.tabelle.typ3 span.sperrung{color:black}
span.spitzmarke{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold;color:#bd1d1b}
a{font-weight:normal;font-style:italic;text-decoration:none;color:#bd1d1b;border-bottom:1px dotted #bd1d1b;padding-left:.2em;padding-right:.2em}
@media amzn-kf8{a{font-weight:normal;font-style:italic;color:#bd1d1b;border-bottom:0;padding-left:.2em;padding-right:.2em}
}
@media amzn-mobi{a{font-weight:normal;font-style:italic;color:#bd1d1b;border-bottom:0;padding-left:.2em;padding-right:.2em}
}
h1 span.u-text a,h2 span.u-text a,h3 span.u-text a,h4 span.u-text a,h5 span.u-text a,h6 span.u-text a{color:#bd1d1b;border-bottom:0}
a.verweisziel{margin:0;padding:0}
table{text-indent:0;border-collapse:collapse;border-spacing:0;border-width:0}
td,th{vertical-align:top;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px}
thead td,thead th,th,thead{font-weight:bold}
td,th{font-size:.9em}
td p,th p{text-indent:0;text-align:left}
header{font-family:"Rowohlt-Serif","Palatino",serif;page-break-inside:avoid;page-break-after:avoid}
h1,h2,h3,h4,h5,h6{font-size:1em;line-height:1.6em}
header.u1 p.urheber.firstInContainer,header.u1 p.vortitel.firstInContainer,header.u1 h1.titel.firstInContainer{margin-top:3em}
header.u1 h1.titel.lastInContainer,header.u1 p.urheber.lastInContainer,header.u1 p.untertitel.lastInContainer{margin-bottom:3em}
header.u1 p.urheber{font-size:1.1em;line-height:1.6em;text-indent:0;text-align:left;font-weight:bold;color:#666;margin-top:1.34rem;margin-bottom:0}
header.u1 p.urheber+header.u1 p.urheber{margin-top:0}
header.u1 p.vortitel{text-align:left;font-size:1.1em;line-height:1.6em;text-indent:0;margin-top:1.34rem;margin-bottom:0}
h1.titel span.zaehler{text-align:left;display:block;font-size:1.2em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:2.08rem;margin-bottom:0;padding:0}
h1.titel span.text{text-align:left;display:block;font-size:1.6em;line-height:1.5em;font-weight:bold;color:#bd1d1b;margin-top:.9rem;margin-bottom:0;padding:0}
header.u1 p.untertitel{text-align:left;font-size:1.3em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.92rem;margin-bottom:0}
header.u2 p.urheber.firstInContainer,header.u2 p.vortitel.firstInContainer,header.u2 h2.titel.firstInContainer{margin-top:1.5em}
header.u2 h2.titel.lastInContainer,header.u2 p.urheber.lastInContainer,header.u2 p.untertitel.lastInContainer{margin-bottom:2.5em}
header.u2 p.urheber{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;font-weight:bold;color:#666;margin-top:.9rem;margin-bottom:0}
header.u2 p.urheber+header.u2 p.urheber{margin-top:0}
header.u2 p.vortitel{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;margin-top:1.4rem;margin-bottom:0}
h2.titel span.zaehler{text-align:left;display:block;font-size:1.1em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:1.84rem;margin-bottom:0;padding:0}
h2.titel span.text{text-align:left;display:block;font-size:1.4em;line-height:1.5em;font-weight:bold;color:#bd1d1b;margin-top:.8rem;margin-bottom:0;padding:0}
header.u2 p.untertitel{text-align:left;font-size:1.1em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.84rem;margin-bottom:0}
header.u3 p.urheber.firstInContainer,header.u3 p.vortitel.firstInContainer,header.u3 h3.titel.firstInContainer{margin-top:3.5em}
header.u3 h3.titel.lastInContainer,header.u3 p.urheber.lastInContainer,header.u3 p.untertitel.lastInContainer{margin-bottom:2em}
header.u3 p.urheber{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;font-weight:bold;color:#666;margin-top:.4rem;margin-bottom:0}
header.u3 p.urheber+header.u3 p.urheber{margin-top:0}
header.u3 p.vortitel{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;margin-top:.9rem;margin-bottom:0}
h3.titel span.zaehler{text-align:left;display:block;font-size:1em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:1.4rem;margin-bottom:0;padding:0}
h3.titel span.text{text-align:left;display:block;font-size:1.2em;line-height:1.5em;font-weight:bold;color:#bd1d1b;margin-top:.6rem;margin-bottom:0;padding:0}
header.u3 p.untertitel{text-align:left;font-size:1em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.6rem;margin-bottom:0}
header.u4 p.urheber.firstInContainer,header.u4 p.vortitel.firstInContainer,header.u4 h4.titel.firstInContainer{margin-top:3em}
header.u4 h4.titel.lastInContainer,header.u4 p.urheber.lastInContainer,header.u4 p.untertitel.lastInContainer{margin-bottom:1.5em}
header.u4 p.vortitel{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;margin-top:.4rem;margin-bottom:0}
h4.titel span.zaehler{text-align:left;display:block;font-size:1em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:.9rem;margin-bottom:0;padding:0}
h4.titel span.text{text-align:left;display:block;font-size:1.2em;line-height:1.6em;font-weight:bold;font-style:italic;color:#bd1d1b;margin-top:.28rem;margin-bottom:0;padding:0}
header.u4 p.untertitel{text-align:left;font-size:1em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.28rem;margin-bottom:0}
header.u5 p.urheber.firstInContainer,header.u5 p.vortitel.firstInContainer,header.u5 h5.titel.firstInContainer{margin-top:2.5em}
header.u5 h5.titel.lastInContainer,header.u5 p.urheber.lastInContainer,header.u5 p.untertitel.lastInContainer{margin-bottom:1em}
header.u5 p.vortitel{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;margin-top:.4rem;margin-bottom:0}
h5.titel span.zaehler{text-align:left;display:block;font-size:1em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:.9rem;margin-bottom:0;padding:0;text-align:left}
h5.titel span.text{text-align:left;display:block;font-size:1.1em;line-height:1.6em;font-weight:bold;font-style:italic;color:#bd1d1b;margin-top:.34rem;margin-bottom:0;padding:0;text-align:left}
header.u5 p.untertitel{text-align:left;font-size:1em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.4rem;margin-bottom:0}
header.u6 p.urheber.firstInContainer,header.u6 p.vortitel.firstInContainer,header.u6 h6.titel.firstInContainer{margin-top:2em}
header.u6 h6.titel.lastInContainer,header.u6 p.urheber.lastInContainer,header.u6 p.untertitel.lastInContainer{margin-bottom:1em}
header.u6 p.vortitel{text-align:left;font-size:1em;line-height:1.6em;text-indent:0;margin-top:.4rem;margin-bottom:0}
h6.titel span.zaehler{text-align:left;display:block;font-size:1em;line-height:1.6em;font-weight:normal;color:#bd1d1b;margin-top:.4rem;margin-bottom:0;padding:0;text-align:left}
h6.titel span.text{text-align:left;display:block;font-size:1em;line-height:1.6em;font-weight:bold;font-style:italic;color:#bd1d1b;margin-top:.4rem;margin-bottom:0;padding:0;text-align:left}
header.u6 p.untertitel{text-align:left;font-size:1em;line-height:1.6em;font-style:italic;text-indent:0;margin-top:.4rem;margin-bottom:0}
div.li,blockquote.li,span.inline.li,figure.li{text-align:left}
div.zentr,blockquote.zentr,span.inline.zentr,figure.zentr{text-align:center}
div.re,blockquote.re,span.inline.re,figure.re{text-align:right}
div.hgschwarz,blockquote.hgschwarz,span.inline.hgschwarz,figure.hgschwarz{background-color:black}
div.farb,blockquote.farb,span.inline.farb,figure.farb{color:#bd1d1b}
div.durch,blockquote.durch,span.inline.durch,figure.durch{text-decoration:line-through}
div.unter,blockquote.unter,span.inline.unter,figure.unter{text-decoration:underline}
div.ser,blockquote.ser,span.inline.ser,figure.ser{font-family:"Rowohlt-Serif","Palatino",serif}
div.san,blockquote.san,span.inline.san,figure.san{font-family:"Rowohlt-Sans","Helvetica",sans-serif}
div.grgr,blockquote.grgr,span.inline.grgr,figure.grgr{font-size:1.4em}
div.gr,blockquote.gr,span.inline.gr,figure.gr{font-size:1.2em}
div.norm,blockquote.norm,span.inline.norm,figure.norm{font-size:1em}
div.kl,blockquote.kl,span.inline.kl,figure.kl{font-size:.9em}
div.klkl,blockquote.klkl,span.inline.klkl,figure.klkl{font-size:.8em}
div.brot,blockquote.brot,span.inline.brot,figure.brot{font-weight:normal;font-style:normal}
div.hf,blockquote.hf,span.inline.hf,figure.hf{font-weight:bold;font-style:normal}
div.ks,blockquote.ks,span.inline.ks,figure.ks{font-weight:normal;font-style:italic}
div.hfks,blockquote.hfks,span.inline.hfks,figure.hfks{font-weight:bold;font-style:italic}
div.zwischentitel{margin-top:1em;margin-bottom:1em}
div.zwischentitel.typ10{margin-top:1.5em;margin-bottom:0}
div.zwischentitel.typ11{margin-left:1.3em;margin-top:1.5em;margin-bottom:0}
div.zwischentitel.typ20{margin-top:2em;margin-bottom:.5em}
div.zwischentitel.typ21{margin-left:1.3em;margin-top:2em;margin-bottom:.5em}
div.zwischentitel.typ30{text-align:center;letter-spacing:.5em;margin-top:1em;margin-bottom:1em}
div.zwischentitel.typ10.ks em,div.zwischentitel.typ11.ks em,div.zwischentitel.typ20.ks em,div.zwischentitel.typ21.ks em,div.zwischentitel.typ30.ks em,div.zwischentitel.typ10.hfks em,div.zwischentitel.typ11.hfks em,div.zwischentitel.typ20.hfks em,div.zwischentitel.typ21.hfks em,div.zwischentitel.typ30.hfks em{font-style:normal}
div.einschub>p.firstInContainer,div.einschub>div.titel+p.firstInSequence,div.einschub-vor>p.firstInContainer,div.einschub-vor>div.titel+p.firstInSequence{text-indent:0}
div.einschub.typ10,div.einschub.typ11{margin-left:1.3em;margin-top:1em;margin-bottom:1em}
div.einschub_vor.typ10,div.einschub_vor.typ11{margin-left:1.3em;margin-top:2em;margin-bottom:1em}
div.einschub.typ12,div.einschub.typ13{margin-left:0;margin-top:1em;margin-bottom:1em}
div.einschub_vor.typ12,div.einschub_vor.typ13{margin-left:0;margin-top:2em;margin-bottom:1em}
div.einschub.typ20,div.einschub.typ21{margin-left:1.3em;margin-top:0;margin-bottom:0}
div.einschub_vor.typ20,div.einschub_vor.typ21{margin-left:1.3em;margin-top:2em;margin-bottom:1em}
div.einschub.typ22,div.einschub.typ23{margin-left:0;margin-top:0;margin-bottom:0}
div.einschub_vor.typ22,div.einschub_vor.typ23{margin-left:0;margin-top:2em;margin-bottom:1em}
div.einschub.typ30{margin-left:1.3em;margin-top:1.2em;margin-bottom:1.2em;background-color:#dcdcdc;padding:1em}
div.einschub_vor.typ30{margin-left:1.3em;margin-top:2em;margin-bottom:1em;background-color:#dcdcdc;padding:1em}
div.einschub.typ40{margin-left:1.3em;margin-top:1.2em;margin-bottom:1.2em;color:#bd1d1b;border-left:5px solid #bd1d1b;padding-left:1em}
div.einschub_vor.typ40{margin-left:1.3em;margin-top:2em;margin-bottom:1em;color:#bd1d1b;border-left:5px solid #bd1d1b;padding-left:1em}
div.einschub.typ50{margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub_vor.typ50{margin-top:2em;margin-bottom:1em;margin-left:1.3em}
div.einschub.typ50 p,div.einschub_vor.typ50 p{margin-left:1.3em}
div.einschub.typ50 p,div.einschub_vor.typ50 p,div.einschub.typ50>p.firstInContainer,div.einschub.typ50>div.titel+p.firstInSequence,div.einschub-vor.typ50>p.firstInContainer,div.einschub-vor.typ50>div.titel+p.firstInSequence{text-indent:-1.3em}
div.einschub.typ60{margin-left:2.6em;margin-top:0;margin-bottom:0}
div.einschub_vor.typ60{margin-left:2.6em;margin-top:2em;margin-bottom:1em}
div.einschub.typ61{margin-left:3.9em;margin-top:0;margin-bottom:0}
div.einschub_vor.typ61{margin-left:3.9em;margin-top:2em;margin-bottom:1em}
div.einschub.typ62{margin-left:5.2em;margin-top:0;margin-bottom:0}
div.einschub_vor.typ62{margin-left:5.2em;margin-top:2em;margin-bottom:1em}
div.einschub_vor+header.u1 p.urheber.firstInContainer,div.einschub_vor+header.u1 p.vortitel.firstInContainer,div.einschub_vor+header.u1 h1.titel.firstInContainer,div.einschub_vor+header.u2 p.urheber.firstInContainer,div.einschub_vor+header.u2 p.vortitel.firstInContainer,div.einschub_vor+header.u2 h2.titel.firstInContainer,div.einschub_vor+header.u3 p.urheber.firstInContainer,div.einschub_vor+header.u3 p.vortitel.firstInContainer,div.einschub_vor+header.u3 h3.titel.firstInContainer,div.einschub_vor+header.u4 p.urheber.firstInContainer,div.einschub_vor+header.u4 p.vortitel.firstInContainer,div.einschub_vor+header.u4 h4.titel.firstInContainer,div.einschub_vor+header.u5 p.urheber.firstInContainer,div.einschub_vor+header.u5 p.vortitel.firstInContainer,div.einschub_vor+header.u5 h5.titel.firstInContainer,div.einschub_vor+header.u6 p.urheber.firstInContainer,div.einschub_vor+header.u6 p.vortitel.firstInContainer,div.einschub_vor+header.u6 h6.titel.firstInContainer{margin-top:.5em}
div.einschub.typ10>p.firstInContainer,div.einschub_vor.typ10>p.firstInContainer,div.einschub.typ11>p.firstInContainer,div.einschub_vor.typ11>p.firstInContainer,div.einschub.typ12>p.firstInContainer,div.einschub_vor.typ12>p.firstInContainer,div.einschub.typ13>p.firstInContainer,div.einschub_vor.typ13>p.firstInContainer,div.einschub.typ20>p.firstInContainer,div.einschub_vor.typ20>p.firstInContainer,div.einschub.typ21>p.firstInContainer,div.einschub_vor.typ21>p.firstInContainer,div.einschub.typ22>p.firstInContainer,div.einschub_vor.typ22>p.firstInContainer,div.einschub.typ23>p.firstInContainer,div.einschub_vor.typ23>p.firstInContainer,div.einschub.typ30>p.firstInContainer,div.einschub_vor.typ30>p.firstInContainer,div.einschub.typ40>p.firstInContainer,div.einschub_vor.typ40>p.firstInContainer,div.einschub.typ60>p.firstInContainer,div.einschub_vor.typ60>p.firstInContainer,div.einschub.typ61>p.firstInContainer,div.einschub_vor.typ61>p.firstInContainer,div.einschub.typ62>p.firstInContainer,div.einschub_vor.typ62>p.firstInContainer,div.einschub.typ10>div.titel+p.firstInSequence,div.einschub_vor.typ10>div.titel+p.firstInSequence,div.einschub.typ11>div.titel+p.firstInSequence,div.einschub_vor.typ11>div.titel+p.firstInSequence,div.einschub.typ12>div.titel+p.firstInSequence,div.einschub_vor.typ12>div.titel+p.firstInSequence,div.einschub.typ13>div.titel+p.firstInSequence,div.einschub_vor.typ13>div.titel+p.firstInSequence,div.einschub.typ20>div.titel+p.firstInSequence,div.einschub_vor.typ20>div.titel+p.firstInSequence,div.einschub.typ21>div.titel+p.firstInSequence,div.einschub_vor.typ21>div.titel+p.firstInSequence,div.einschub.typ22>div.titel+p.firstInSequence,div.einschub_vor.typ22>div.titel+p.firstInSequence,div.einschub.typ23>div.titel+p.firstInSequence,div.einschub_vor.typ23>div.titel+p.firstInSequence,div.einschub.typ30>div.titel+p.firstInSequence,div.einschub_vor.typ30>div.titel+p.firstInSequence,div.einschub.typ60>div.titel+p.firstInSequence,div.einschub_vor.typ60>div.titel+p.firstInSequence,div.einschub.typ61>div.titel+p.firstInSequence,div.einschub_vor.typ61>div.titel+p.firstInSequence,div.einschub.typ62>div.titel+p.firstInSequence,div.einschub_vor.typ62>div.titel+p.firstInSequence,div.einschub.typ10>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ10>div.zwischentitel+p.firstInSequence,div.einschub.typ11>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ11>div.zwischentitel+p.firstInSequence,div.einschub.typ12>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ12>div.zwischentitel+p.firstInSequence,div.einschub.typ13>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ13>div.zwischentitel+p.firstInSequence,div.einschub.typ20>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ20>div.zwischentitel+p.firstInSequence,div.einschub.typ21>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ21>div.zwischentitel+p.firstInSequence,div.einschub.typ22>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ22>div.zwischentitel+p.firstInSequence,div.einschub.typ23>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ23>div.zwischentitel+p.firstInSequence,div.einschub.typ30>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ30>div.zwischentitel+p.firstInSequence,div.einschub.typ60>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ60>div.zwischentitel+p.firstInSequence,div.einschub.typ61>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ61>div.zwischentitel+p.firstInSequence,div.einschub.typ62>div.zwischentitel+p.firstInSequence,div.einschub_vor.typ62>div.zwischentitel+p.firstInSequence{text-indent:0}
div.einschub.typ10 p,div.einschub_vor.typ10 p,div.einschub.typ12 p,div.einschub_vor.typ12 p,div.einschub.typ20 p,div.einschub_vor.typ20 p,div.einschub.typ22 p,div.einschub_vor.typ22 p,div.einschub.typ30 p,div.einschub_vor.typ30 p,div.einschub.typ40 p,div.einschub_vor.typ40 p,div.einschub.typ60 p,div.einschub_vor.typ60 p,div.einschub.typ61 p,div.einschub_vor.typ61 p,div.einschub.typ62 p,div.einschub_vor.typ62 p{text-indent:0}
div.einschub.typ11 p,div.einschub_vor.typ11 p,div.einschub.typ13 p,div.einschub_vor.typ13 p,div.einschub.typ21 p,div.einschub_vor.typ21 p,div.einschub.typ23 p,div.einschub_vor.typ23 p{text-indent:1.3em}
div.einschub.typ11 p.no_indent,div.einschub_vor.typ11 p.no_indent,div.einschub.typ13 p.no_indent,div.einschub_vor.typ13 p.no_indent,div.einschub.typ21 p.no_indent,div.einschub_vor.typ21 p.no_indent,div.einschub.typ23 p.no_indent,div.einschub_vor.typ23 p.no_indent{text-indent:0}
div.einschub.typ11 p.leerzeile+p,div.einschub_vor.typ11 p.leerzeile+p,div.einschub.typ13 p.leerzeile+p,div.einschub_vor.typ13 p.leerzeile+p,div.einschub.typ21 p.leerzeile+p,div.einschub_vor.typ21 p.leerzeile+p,div.einschub.typ23 p.leerzeile+p,div.einschub_vor.typ23 p.leerzeile+p{text-indent:0}
div.einschub.typ10.ks em,div.einschub.typ11.ks em,div.einschub.typ12.ks em,div.einschub.typ20.ks em,div.einschub.typ21.ks em,div.einschub.typ22.ks em,div.einschub.typ23.ks em,div.einschub.typ30.ks em,div.einschub.typ40.ks em,div.einschub.typ50.ks em,div.einschub.typ60.ks em,div.einschub.typ61.ks em,div.einschub.typ62.ks em,div.einschub.typ10.hfks em,div.einschub.typ11.hfks em,div.einschub.typ12.hfks em,div.einschub.typ20.hfks em,div.einschub.typ21.hfks em,div.einschub.typ22.hfks em,div.einschub.typ23.hfks em,div.einschub.typ30.hfks em,div.einschub.typ40.hfks em,div.einschub.typ50.hfks em,div.einschub.typ60.hfks em,div.einschub.typ61.hfks em,div.einschub.typ62.hfks em{font-style:normal}
div.einschub.anhangtexte{font-family:"Rowohlt-Serif","Palatino",serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.anhangtexte p{text-indent:0}
div.einschub.aufschrift{font-family:"Rowohlt-Sans","Helvetica",sans-serif;margin-top:1em;margin-bottom:1em;text-align:center}
div.einschub.aufschrift p{text-indent:0;text-align:center}
div.einschub.brief1{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.brief1 p{text-indent:0}
div.einschub.brief2{font-family:"Rowohlt-Sans","Helvetica",sans-serif;font-style:italic;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.brief2 p{text-indent:0}
div.einschub.dialog{font-family:"Rowohlt-Serif","Palatino",serif;margin-top:1em;margin-bottom:1em;margin-left:2.6em}
div.einschub.dialog p{text-indent:-1.3em}
div.einschub.email{font-family:"Rowohlt-Sans","Helvetica",sans-serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.email p{text-indent:0}
div.einschub.handschrift{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.handschrift p{text-indent:0}
div.einschub.literaturverzeichnis{font-family:"Rowohlt-Serif","Palatino",serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.literaturverzeichnis p{text-indent:-1.3em}
div.einschub.motto{font-family:"Rowohlt-Serif","Palatino",serif;font-size:1em;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
header+.einschub.motto{margin-top:1.6em;margin-bottom:1.6em}
div.einschub.motto p{text-indent:0}
div.einschub.schreibmaschine{font-family:"Rowohlt-Mono",mono;font-size:.9em;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.schreibmaschine p{text-indent:0}
div.einschub.sms{font-family:"Rowohlt-Sans","Helvetica",sans-serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.sms p{text-indent:0}
div.einschub.widmung{font-family:"Rowohlt-Serif","Palatino",serif;font-size:1em;font-style:italic;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.widmung p{text-indent:0}
div.einschub.zeitungsartikel{font-family:"Rowohlt-Sans","Helvetica",sans-serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
div.einschub.zeitungsartikel p{text-indent:0}
blockquote.einschub.zitat{font-family:"Rowohlt-Serif","Palatino",serif;margin-top:1em;margin-bottom:1em;margin-left:1.3em}
header+.einschub.zitat{margin-top:1.6em;margin-bottom:1.6em}
blockquote.einschub.zitat p{text-indent:0}
div.einschub.widmung em,div.einschub.brief1 em,div.einschub.brief2 em,div.einschub.handschrift em{font-style:normal}
div.infokasten{margin-top:1.2em;margin-bottom:1.2em;padding:1em}
div.infokasten div.titel{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold;margin-bottom:.5em}
div.infokasten div.legende{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em;margin-top:.5em}
div.infokasten div.legende p{text-indent:0}
div.infokasten.typ10,div.infokasten.typ11{background-color:#dcdcdc;box-decoration-break:clone}
div.infokasten.typ20,div.infokasten.typ21{background-color:#dcdcdc;border-top-right-radius:1em;border-bottom-left-radius:1em;box-decoration-break:clone}
div.infokasten.typ30,div.infokasten.typ31{background-color:#dcdcdc;border-left:10px solid #bd1d1b;box-decoration-break:clone}
div.infokasten.typ40,div.infokasten.typ41{border:3px solid #bd1d1b}
div.infokasten.typ50,div.infokasten.typ51{border-top:10px solid #bd1d1b;border-bottom:3px solid #bd1d1b;border-left:3px solid #bd1d1b;border-right:3px solid #bd1d1b}
div.infokasten.typ10>p.firstInContainer,div.infokasten.typ11>p.firstInContainer,div.infokasten.typ20>p.firstInContainer,div.infokasten.typ21>p.firstInContainer,div.infokasten.typ30>p.firstInContainer,div.infokasten.typ31>p.firstInContainer,div.infokasten.typ40>p.firstInContainer,div.infokasten.typ41>p.firstInContainer,div.infokasten.typ50>p.firstInContainer,div.infokasten.typ51>p.firstInContainer,div.infokasten.typ10>p.firstInSequence,div.infokasten.typ11>p.firstInSequence,div.infokasten.typ20>p.firstInSequence,div.infokasten.typ21>p.firstInSequence,div.infokasten.typ30>p.firstInSequence,div.infokasten.typ31>p.firstInSequence,div.infokasten.typ40>p.firstInSequence,div.infokasten.typ41>p.firstInSequence,div.infokasten.typ50>p.firstInSequence,div.infokasten.typ51>p.firstInSequence,div.infokasten.typ10>div.titel+p.firstInSequence,div.infokasten.typ11>div.titel+p.firstInSequence,div.infokasten.typ20>div.titel+p.firstInSequence,div.infokasten.typ21>div.titel+p.firstInSequence,div.infokasten.typ30>div.titel+p.firstInSequence,div.infokasten.typ31>div.titel+p.firstInSequence,div.infokasten.typ40>div.titel+p.firstInSequence,div.infokasten.typ41>div.titel+p.firstInSequence,div.infokasten.typ50>div.titel+p.firstInSequence,div.infokasten.typ51>div.titel+p.firstInSequence,div.infokasten.typ10>div.zwischentitel+p.firstInSequence,div.infokasten.typ11>div.zwischentitel+p.firstInSequence,div.infokasten.typ20>div.zwischentitel+p.firstInSequence,div.infokasten.typ21>div.zwischentitel+p.firstInSequence,div.infokasten.typ30>div.zwischentitel+p.firstInSequence,div.infokasten.typ31>div.zwischentitel+p.firstInSequence,div.infokasten.typ40>div.zwischentitel+p.firstInSequence,div.infokasten.typ41>div.zwischentitel+p.firstInSequence,div.infokasten.typ50>div.zwischentitel+p.firstInSequence,div.infokasten.typ51>div.zwischentitel+p.firstInSequence{text-indent:0}
div.infokasten.typ10 p,div.infokasten.typ20 p,div.infokasten.typ30 p,div.infokasten.typ40 p,div.infokasten.typ50 p{text-indent:0}
div.infokasten.typ11 p,div.infokasten.typ21 p,div.infokasten.typ31 p,div.infokasten.typ41 p,div.infokasten.typ51 p{text-indent:1.3em}
div.infokasten.typ11 p.leerzeile+p,div.infokasten.typ21 p.leerzeile+p,div.infokasten.typ31 p.leerzeile+p,div.infokasten.typ41 p.leerzeile+p,div.infokasten.typ51 p.leerzeile+p{text-indent:0}
div.infokasten div.zwischentitel.typ10.firstInContainer,div.infokasten div.zwischentitel.typ11.firstInContainer,div.infokasten div.zwischentitel.typ20.firstInContainer,div.infokasten div.zwischentitel.typ21.firstInContainer,div.infokasten div.zwischentitel.typ30.firstInContainer{margin-top:0}
div.infokasten.typ10.ks em,div.infokasten.typ11.ks em,div.infokasten.typ20.ks em,div.infokasten.typ21.ks em,div.infokasten.typ30.ks em,div.infokasten.typ31.ks em,div.infokasten.typ40.ks em,div.infokasten.typ41.ks em,div.infokasten.typ50.ks em,div.infokasten.typ51.ks em,div.infokasten.typ10.hfks em,div.infokasten.typ11.hfks em,div.infokasten.typ20.hfks em,div.infokasten.typ21.hfks em,div.infokasten.typ30.hfks em,div.infokasten.typ31.hfks em,div.infokasten.typ40.hfks em,div.infokasten.typ41.hfks em,div.infokasten.typ50.hfks em,div.infokasten.typ51.hfks em{font-style:normal}
figure.bild div.titel{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold;margin-bottom:.5em}
figure.bild div.legende{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em;margin-top:.5em}
figure.bild.typ1{width:100%;max-width:100%;margin-top:1.5em;margin-bottom:2em}
figure.bild.typ2{width:85%;margin-top:1.5em;margin-bottom:2em;margin-right:15%}
figure.bild.typ3{width:20%;margin-top:1.5em;margin-bottom:2em;margin-left:40%;margin-right:40%}
figure.bild.typ3 img.abbildung{width:auto}
figure.bild.typ4{width:40%;float:left;clear:both;box-sizing:border-box;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:1em}
figure.bild.typ4 div.legende{color:#bd1d1b}
figure.bild.typ4 figcaption,figure.bild.typ4 div.figfooter,figure.bild.typ4 div.titel,figure.bild.typ4 div.legende{width:100%;box-sizing:border-box}
figure.bild.typ5{width:25%;float:left;clear:both;box-sizing:border-box;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:1.3em}
figure.bild.typ5 figcaption,figure.bild.typ5 div.figfooter,figure.bild.typ5 div.titel,figure.bild.typ5 div.legende{width:100%;box-sizing:border-box}
figure.bild.typ6{width:25%;float:right;clear:both;box-sizing:border-box;margin-top:1em;margin-bottom:1em;margin-left:1.3em;margin-right:0}
figure.bild.typ6 figcaption,figure.bild.typ6 div.figfooter,figure.bild.typ6 div.titel,figure.bild.typ6 div.legende{width:100%;box-sizing:border-box}
figure.bild.typ7{width:90%;margin-right:10%;margin-top:0;margin-bottom:0;page-break-after:always}
figure.bild.typ8{width:70%;margin-left:15%;margin-right:15%;margin-top:0;margin-bottom:0;page-break-after:always}
figure.bild.typ9{width:50%;margin-left:25%;margin-right:25%;margin-top:1em;margin-bottom:1.5em}
figure.bild.typ10{width:25%;margin-top:1em;margin-bottom:1.5em;margin-right:75%}
figure.tabelle{padding:0;page-break-inside:avoid}
table{margin-right:2px}
figure.tabelle div.titel{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold;margin-bottom:.5em}
figure.tabelle div.legende{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em;margin-top:.5em}
figure.tabelle.typ1 thead td,figure.tabelle.typ1 thead th,figure.tabelle.typ1 tbody th{color:#bd1d1b}
figure.tabelle.typ2 td,figure.tabelle.typ2 th{border:1px solid #bd1d1b}
figure.tabelle.typ1 thead td,figure.tabelle.typ1 thead th,figure.tabelle.typ1 tbody th{color:#bd1d1b}
figure.tabelle.typ3 thead td,figure.tabelle.typ3 thead th,figure.tabelle.typ3 tbody td,figure.tabelle.typ3 tbody th{border:1px solid white}
figure.tabelle.typ3 thead td,figure.tabelle.typ3 thead th,figure.tabelle.typ3 tbody th{background-color:#e6bebe}
figure.tabelle.typ3 tbody td{background-color:#f4e1e1}
figure.tabelle.typ4 table{border-top:1px solid #bd1d1b;border-bottom:1px solid #bd1d1b}
figure.tabelle.typ4 thead td,figure.tabelle.typ4 thead th,figure.tabelle.typ4 tbody th{border-bottom:1px solid #bd1d1b;background-color:#e6bebe;border-right:1px solid #e6bebe}
figure.tabelle.typ4 tbody tr.gerade td{background-color:#e6bebe}
figure.tabelle.typ4 tbody tr.ungerade td{background-color:#f4e1e1}
span.inline.typ10{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic}
span.inline.typ11{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold}
span.inline.typ12{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic;font-weight:bold}
span.inline.typ13{font-family:"Rowohlt-Serif","Palatino",serif;font-style:normal}
span.inline.typ20{font-family:"Rowohlt-Sans","Helvetica",sans-serif;font-style:italic}
span.inline.typ21{font-family:"Rowohlt-Sans","Helvetica",sans-serif;font-weight:bold}
span.inline.typ22{font-family:"Rowohlt-Sans","Helvetica",sans-serif;font-style:italic;font-weight:bold}
span.inline.typ23{font-family:"Rowohlt-Sans","Helvetica",sans-serif;font-style:normal}
span.inline.farbig{color:#bd1d1b}
span.inline.glossarbegriff{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold;color:#bd1d1b}
span.inline.groesser{font-family:"Rowohlt-Serif","Palatino",serif;font-size:1.1em}
span.inline.hinterlegt{background-color:#f4e1e1;padding:3px}
span.inline.kleiner{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em}
span.inline.person{font-family:"Rowohlt-Serif","Palatino",serif;font-weight:bold}
span.inline.recte{font-family:"Rowohlt-Serif","Palatino",serif;font-style:normal}
span.inline.quelle{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em}
span.inline.regie{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic;color:#bd1d1b}
span.inline.regie::before{content:"("}
span.inline.regie::after{content:")"}
span.inline.schreibmaschine{font-family:"Rowohlt-Mono",mono;font-size:.9em}
span.inline.schreibschrift{font-family:"Rowohlt-Serif","Palatino",serif;font-style:italic}
span.inline.sprecher{font-family:"Rowohlt-Serif","Palatino",serif;font-size:.9em;font-weight:bold;color:#bd1d1b;text-transform:uppercase}
span.marginalie{font-size:.8em;font-weight:bold;background-color:#dcdcdc;float:left;clear:both;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;margin-top:15px;margin-right:15px;margin-bottom:0;margin-left:0;width:30%}
div.endnote span.endnotenzaehler a,div.fussnote span.fussnotenzaehler a{color:#666;text-decoration:none !important;border:0;font-weight:bold;font-style:normal}
span.fussnote,span.endnote,span.tabellenfussnote{margin:0;padding-left:2px;padding-right:2px}
span.fussnote a,span.endnote a,span.tabellenfussnote a{font-size:90%;color:#666;border:0;font-weight:bold;font-style:normal;text-decoration:none}
h1 span.text span.fussnote a,h1 span.text span.endnote a,h2 span.text span.fussnote a,h2 span.text span.endnote a,h3 span.text span.fussnote a,h3 span.text span.endnote a,h4 span.text span.fussnote a,h4 span.text span.endnote a,h5 span.text span.fussnote a,h5 span.text span.endnote a{color:#666;font-size:90%;border:0;font-weight:bold;font-style:normal;text-decoration:none}
section.fussnoten>ol,section.endnoten>ol{list-style:none;padding:0;margin:0}
li.fussnote,li.endnote,li.tabellenfussnote{margin-bottom:.5em;page-break-inside:avoid}
div.fussnotenzaehler,div.endnotenzaehler,div.tabellenfussnoten-nr{display:inline-block;float:left;visibility:visible;vertical-align:inherit;margin-right:10px;margin-left:0;padding:0}
div.fussnotenzaehler>p,div.endnotenzaehler>p,div.tabellenfussnoten-nr>p,div.fussnoteninhalt>p.firstInContainer,div.endnoteninhalt>p.firstInContainer{text-indent:0;display:inline}
div.fussnoteninhalt>p,div.endnoteninhalt>p{text-indent:0;display:block}
div.fussnotenzaehler>p>a,div.endnotenzaehler>p>a,div.tabellenfussnoten-nr>p>a{font-size:100%;font-weight:bold;font-style:normal;color:#666;text-decoration:none;border:0;padding-left:.3em;padding-right:.3em}
div.fussnoteninhalt,div.endnoteninhalt{display:block}
section.endnoten div.zwischentitel{font-weight:bold;margin-top:1.5em}
section.endnoten header+div.zwischentitel{margin-top:0}
div.szene{margin-top:1em;margin-bottom:1em}
div.szene p{text-indent:0}
div.rede,div.regie{margin-bottom:1em}
div.regie{font-style:italic;color:#bd1d1b}
span.regie_inline{font-style:italic;color:#bd1d1b}
p.sprecher{font-weight:bold;font-size:.9em;color:#bd1d1b;text-transform:uppercase;letter-spacing:.2em;page-break-after:avoid}
div.gedicht{margin-top:1em;margin-bottom:1em;margin-left:1.6em;page-break-inside:avoid}
div.gedicht p{text-indent:0}
div.gedicht div.titel{font-weight:bold;margin-bottom:.5em}
div.gedicht div.strophe+div.strophe{margin-top:1em}
div.gedicht div.legende{font-style:italic;margin-top:.5em}
div.cover{width:80%;margin-left:10%;margin-right:10%}
img.cover{width:100%;max-width:100%}
section.haupttitel{padding-top:4rem;background-image:url("images/titelei-standard.png");background-repeat:no-repeat;background-size:1.5em 1.5em;background-position:0 1.75em}
section.haupttitel p{text-indent:0}
p.t_autor{text-align:left;font-size:1.4em;font-weight:bold}
p.t_coautor{text-align:left;font-size:1.4em}
p.t_hrsg{text-align:left;font-size:1.4em;font-weight:bold}
section.haupttitel header.u1 h1.titel span.text{text-align:left;font-size:2.2em;line-height:1.4em;font-weight:bold;color:black;margin-top:1.5rem}
p.t_untertitel{text-align:left;font-size:1.4em;font-weight:normal;margin-top:.75rem}
p.t_gattung{text-align:left;font-size:1.2em;font-weight:normal;font-style:italic;margin-top:.5rem}
div.infoblock{text-align:left;margin-top:1.5rem}
p.t_illustrator{text-align:left;margin-top:.5rem}
p.t_uebersetzer{text-align:left;margin-top:.5rem}
p.t_verlagslogo{text-align:left;margin-top:4.5rem;width:5em}
p.t_verlagslogo img{width:100%}
section.inhaltsverzeichnis h1.titel{margin-top:3em;margin-bottom:3em}
ul.lvl_1{padding-left:20px}
ul.lvl_2{padding:0}
ul.lvl_3{padding-left:20px}
ul.lvl_1 li{margin-top:1em;list-style-type:none}
ul.lvl_2 li{margin-top:.5em;list-style-type:none}
ul.lvl_3 li{margin-top:.5em;list-style-type:none}
nav.inhalt a{color:black;font-style:normal;text-decoration:none;border-bottom:1px dotted black}
ul.lvl_1 a{font-size:1.1em;font-weight:bold}
ul.lvl_2 a{font-size:1.1em;font-weight:normal}
ul.lvl_3 a{font-size:1em;font-weight:normal}
body.toc_nav h1,nav#page-list,nav#landmarks{display:none}
body.toc_nav h2{font-size:1.6em;font-weight:bold;color:#bd1d1b;margin-top:3em;margin-bottom:3em}
nav#toc ol.lvl_1{padding-left:20px}
nav#toc ol.lvl_2{padding:0}
nav#toc ol.lvl_3{padding-left:20px}
nav#toc ol.lvl_1 li{margin-top:1em;list-style-type:none}
nav#toc ol.lvl_2 li{margin-top:.5em;list-style-type:none}
nav#toc ol.lvl_3 li{margin-top:0;list-style-type:none}
nav#toc ol a{color:black;font-style:normal;text-decoration:none;border-bottom:1px dotted black}
nav#toc ol.lvl_1 a{font-size:1.3em;font-weight:bold}
nav#toc ol.lvl_2 a{font-size:1.1em;font-weight:normal}
nav#toc ol.lvl_3 a{font-size:1em;font-weight:normal}
div.index ul{list-style:none;padding-left:1em}
div.index ul.index_in_index{list-style:none;padding-left:0}
li.eintrag p.begriff{text-indent:0}
div.ebene{margin-left:1.3em}
hr.index-abschnitt-trenner{margin-top:1em;margin-bottom:1em}
span.register span.eintrag{display:none}
section.tpl.kurztext header.u1,section.tpl.biographie header.u1,section.tpl.socialmedia header.u1,section.tpl.buchboutique header.u1,section.generiert.impressum header.u1{margin-top:1em;margin-bottom:2em}
section.tpl.kurztext header.u1 h1.titel span.text,section.tpl.biographie header.u1 h1.titel span.text,section.tpl.socialmedia header.u1 h1.titel span.text,section.tpl.buchboutique header.u1 h1.titel span.text,section.generiert.impressum header.u1 h1.titel span.text{text-align:left;display:block;font-size:1.4em;line-height:1.6em;font-weight:bold;color:#bd1d1b;margin-top:0;margin-bottom:0;padding:0}
section.tpl.kurztext>p.firstInContainer,section.tpl.biographie>p.firstInContainer,section.tpl.socialmedia p,section.tpl.buchboutique p,section.generiert.impressum p{text-indent:0}
a.bild-link{text-decoration:none;border:0}
div.wp-a0be4ee533c3f236-cover {margin: 0 0 0 0 ; text-align: center}
