div.box {
border: black 0.05em solid;
padding: 0.50em;
}
img {
max-width: 100%;
max-height: 100%;
}
@page {
	margin: 5pt;
}

body {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
}

div.cover {

	text-align: center;
}
p.tit {
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
}
p.ach {
	line-height: 1.28em;
	font-size: 100%;
	margin-bottom: 1.28em;
	margin-top: 3.00em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.acsh {
	line-height: 1.28em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.acl {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.acl-bot {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.crt-top {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 1.20em;
	margin-top: 5.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.crtns {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.crt {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.crt-ind {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 1.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.crt-ind-bot {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 1em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 1.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.crt-right {
	line-height: 1.33em;
	font-size: 75%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0em;
	text-align: right;
	font-weight: normal;
	font-style: normal;
}
p.ded {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 3.00em;
	margin-left: 3.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cfmh {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ch1 {
	line-height: 1.50em;
	font-size: 85%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cfmh-bot {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 1.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.fmh {
	line-height: 1.40em;
	font-size: 200%;
	margin-bottom: 2em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cn {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 2.50em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cn-only {
	line-height: 1.40em;
	font-size: 150%;
	margin-bottom: 2.50em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ct {
	line-height: 1.40em;
	font-size: 150%;
	margin-bottom: 2em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ct-nospace {
	line-height: 1.40em;
	font-size: 150%;
	margin-bottom: 2em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cst {
	line-height: 1.40em;
	font-size: 125%;
	margin-bottom: 1.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.au {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pn {
	line-height: 1.20em;
	font-size: 170%;
	margin-bottom: 0.00em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pt {
	line-height: 1.40em;
	font-size: 200%;
	margin-bottom: 0.00em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pt-nospace {
	line-height: 1.40em;
	font-size: 200%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pst {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.50em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pdl {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.po {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: justify;
	font-style: normal;
}
p.potx {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bmh {
	line-height: 1.40em;
	font-size: 200%;
	margin-bottom: 2em;
	margin-top: 2em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.bmsh {
	line-height: 1.40em;
	font-size: 150%;
	margin-bottom: 2em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.bmh1 {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 1.20em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.bmtni {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bmtx {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}

p.tni {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.tx {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.fmtni {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.fmtx {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.txs {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.20em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.tnis {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.20em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.stnis {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.20em;
	margin-top: 1.20em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.stni {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 1.20em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.stx {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 1.20em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.stxs {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.40em;
	margin-bottom: 1.20em;
	margin-top: 1.20em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
}
p.sb {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.sbs {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.20em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.sbs1 {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.em {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bc {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.note {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.notea {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: right;
	font-weight: normal;
	font-style: normal;
}
p.ex {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.ex-ctr {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.exi {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.exh {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.message {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.v {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -2.00em;
	margin-right: 1.45em;
	margin-left: 0em;
	text-align: left;
	padding-left: 3.45em;
	font-weight: normal;
	font-style: normal;
}
p.vsb {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: -2.00em;
	margin-right: 1.45em;
	margin-left: 0em;
	text-align: left;
	padding-left: 3.45em;
	font-weight: normal;
	font-style: normal;
}
p.fn {
	line-height: 1.40em;
	font-size: 75%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.cep {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cep-bot {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.50em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cepc {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ep {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ep-bot {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.50em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.epv {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.epv-bot {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.50em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.epc {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.epvc {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pep {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pep-bot {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.50em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.pepc {
	line-height: 1.20em;
	font-size: 85%;
	margin-bottom:0.00em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 2.00em;
	margin-left: 2.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cdl-top {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 2.00em;
	margin-top: 2.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.cdl {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.dl {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.co {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: justify;
	font-style: normal;
}
p.cos {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 1.20em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: justify;
	font-style: normal;
}
p.cct {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: center;
	font-style: normal;
}
p.cct-bot {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 1em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: center;
	font-style: normal;
}
p.cpt {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	font-weight: normal;
	text-align: center;
	font-style: normal;
}
p.cbmh {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ausig {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: right;
	font-weight: normal;
	font-style: normal;
}
p.sign {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.h1 {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.sec-no {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.fmh1 {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.h2 {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.h3 {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.h4 {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.50em;
	margin-top: 1.00em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.lh {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
}
p.ul {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.ul-left {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 1.20em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}

p.ul-bot {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 1em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.nl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.nsl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 3.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.nssl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.51em;
	margin-right: 2.00em;
	margin-left: 4.96em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.nl-2dig {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.50em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.95em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.al {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 3.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -0.60em;
	margin-right: 2.00em;
	margin-left: 0em;
	text-align: justify;
	padding-left: 2.05em;
	font-weight: normal;
	font-style: normal;
}
p.bsl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -0.60em;
	margin-right: 2.00em;
	margin-left: 3em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bp {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -0.60em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.05em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.np {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0em;
	padding-left: 2.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.img {
	margin-top: 1.00em;
	margin-right: 0.00em;
	margin-bottom: 1.00em;
	margin-left: 0.00em;
	text-indent: 0.00em;
	text-align: center;
}
p.page-break {
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	page-break-before: always;
}
p.fst {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.40em;
	text-indent: 0em;
	margin-bottom: 0.00em;
	margin-top: 3.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
}
p.fsst {
	font-weight: bold;
	font-style: normal;
	font-size: 100%;
	line-height: 1.40em;
	text-indent: 0em;
	text-align: center;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
}
p.fstx {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.20em;
	text-indent: 1.45em;
	text-align: justify;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
}
p.fsq {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.20em;
	text-indent: 0em;
	text-align: justify;
	margin-bottom: 0.00em;
	margin-top: 1.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
}
p.fsqc {
	font-weight: normal;
	font-style: normal;
	font-size: 80%;
	line-height: 1.26em;
	text-indent: 0em;
	text-align: right;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
}
p.addh {
	line-height: 1.40em;
	font-size: 110%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 1.45em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.add {
	line-height: 1.40em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 1.45em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.bib {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.48em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.43em;
	margin-right: 0.00em;
	margin-left: 0em;
	padding-left: 1.43em;
	text-align: justify;
}
p.ltdl {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: right;
}
p.ltsa {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: left;
}
p.ltsa-bot {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: left;
}
p.ltadd {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: left;
}
p.lt-intro {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.ltpl {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
}
p.ltex {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.lt {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.lti {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.lti-bot {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.50em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.ltcl {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: right;
}
p.ltps {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.half-space {
	font-weight: normal;
	font-style: normal;
	font-size: 50%;
	line-height: 0.50em;
}
p.linespace {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.00em;
}
p.bh {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.bh1 {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	padding-left: 1.20em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.btni {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 0.00em;
	padding-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.btnis {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	padding-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.btx {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 0.00em;
	padding-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.btxs {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 1.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 0.00em;
	padding-left: 1.45em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bnl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 2.00em;
	margin-left: 0.00em;
	padding-left: 2.65em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.bbl {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -0.60em;
	margin-right: 2.00em;
	margin-left: 0.00em;
	padding-left: 2.05em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.ntx {
	font-weight: normal;
	font-style: normal;
	font-size: 75%;
	line-height: 1.22em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -1.20em;
	margin-right: 0.00em;
	margin-left: 0em;
	padding-left: 1.20em;
	text-align: justify;
}

p.ntxi {
	font-weight: normal;
	font-style: normal;
	font-size: 75%;
	line-height: 1.22em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.20em;
	margin-right: 0.00em;
	margin-left: 1.20em;
	text-align: justify;

}
p.orn {
	font-size: 100%;
	line-height: 1.35em;
	text-align: center;
	margin: 1.00em 0em 0.50em 0em;
}
p.toc {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.toc-bot {
	line-height: 1.50em;
	font-size: 100%;
	margin-bottom: 1.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.rt {
	line-height: 1.25em;
	font-size: 200%;
	margin-bottom: 1.50em;
	margin-top: 1.50em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.rst {
	line-height: 1.25em;
	font-size: 150%;
	margin-bottom: 1.50em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.ri {
	line-height: 1.30em;
	font-size: 96%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: -0.75em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	padding-left: 0.75em;
	font-weight: normal;
	font-style: normal;
}
p.rby {
	line-height: 1.25em;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 1em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.rd-top {
	line-height: 1.25em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 1.25em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.rd {
	line-height: 1.25em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.rdi {
	line-height: 1.25em;
	font-size: 100%;
	margin-bottom: 0.00em;
	margin-top: 0em;
	text-indent: 1.45em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
p.nh {
	line-height: 1.40em;
	font-size: 120%;
	margin-bottom: 0.50em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.nhb {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: right;
	font-weight: normal;
	font-style: normal;
}
p.nat {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.nati {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 1.45em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: justify;
}
p.ins {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 1.45em;
	margin-left: 1.45em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.dia {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.20em;
	text-align: justify;
	padding-left: 2.65em;
	margin: 0em 1.45em 0em 0em;
}
p.diai {
	font-weight: normal;
	font-style: normal;
	font-size: 85%;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.45em;
	text-align: justify;
	margin: 0em 1.45em 0em 1.45em;
}
p.in {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.ina {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 1.50em;
	text-indent: 0.00em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.in1 {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0em;
	margin-left: 1em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.in2 {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0em;
	margin-left: 2em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
p.gl {
	font-weight: normal;
	font-style: normal;
	font-size: 92%;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.45em;
	padding-left:1.45em;
	text-align: justify;
	margin: 0em;
}
p.cap {
	line-height: 1.28em;
	font-size: 85%;
	margin-bottom: 1.28em;
	margin-top: 0em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}
p.tab {
	line-height: 1.40em;
	font-size: 85%;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0em;
	margin-right: 0.00em;
	margin-left: 0em;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}
span.epub-sc {
	font-size: 70%;
}
span.epub-sci {
	font-size: 70%;
	font-style: italic;
}
span.epub-scb {
	font-size: 70%;
	font-weight: bold;
}
span.epub-scbi {
	font-size: 70%;
	font-weight: bold;
	font-style: italic;
}
span.epub-b {
	font-weight: bold;
}
span.epub-i {
	font-style: italic;
}
span.epub-bi {
	font-weight: bold;
	font-style: italic;
}
span.epub-sup1 {
	vertical-align: super;
	font-size: 65%;
	line-height: 0.50em;
}
span.epub-sup {
	vertical-align: super;
	font-size: 100%;
	line-height: 1.00em;
}
span.epub-sub {
	vertical-align: sub;
	font-size: 65%;
	line-height: 0.50em;
}
span.epub-u {
	text-decoration: underline;
}
span.epub-biu {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
span.epub-bu {
	font-weight: bold;
	text-decoration: underline;
}
span.epub-iu {
	font-style: italic;
	text-decoration: underline;
}
span.mdash {
	vertical-align: super;
}
span.tx-num {
	line-height: 0.65em;
	font-size: 67%;
	vertical-align: super;
}
span.tx-slash {
	font-size: 100%;
}
span.tx-den {
	line-height: 0.65em;
	font-size: 67%;
	vertical-align: sub;
}
span.double_underline {
	border-bottom: 1px solid;
	text-decoration: underline;
}
a {
	text-decoration: none;
}
span.epub-accent {
	font-family: "Gentium Basic";
}
img.align {
	vertical-align: -0.2em;
}
sup.frac {
	font-size: 0.5em;
	vertical-align: 0.5em;
}
sub.frac {
	font-size: 0.5em;
	vertical-align: -0.1em;
}
span.no-break {
	white-space:nowrap;
}
